# Primary requirements are marked.  Other packages were installed
# as dependencies.
blinker==1.7.0
certifi==2024.2.2
cftime==1.6.3
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
fair==1.6.4  # Primary requirement (Fair 2.1.0 is incompatible)
Flask==3.0.3  # Primary requirement
fonttools==4.51.0
itsdangerous==2.2.0
Jinja2==3.1.3
kiwisolver==1.4.5
MarkupSafe==2.1.5
matplotlib==3.8.4
netCDF4==1.6.5  # Primary requirement
numpy==1.26.4
packaging==24.0
pandas==2.2.2  # Primary requirement
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
scipy==1.13.0  # Primary requirement
six==1.16.0
tzdata==2024.1
Werkzeug==3.0.2
