            <h4>References</h4>
            <p class="content_reference">
              Aubry, T. J., Toohey, M., Marshall, L., Schmidt, A.,  Jellinek, A. M. (2019). A new volcanic stratospheric sulfate aerosol forcing emulator (EVA_ H): Comparison with interactive stratospheric aerosol models, Journal of Geophysical Research: Atmospheres, 125, doi: <a href="https://doi.org/10.1029/2019JD031303">10.1029/2019JD031303</a>, <a href="https://github.com/thomasaubry/EVA_H">https://github.com/thomasaubry/EVA_H.</a>.
            </p>
            <p class="content_reference">
              Marshall, L.R., Smith, C. J., Forster,P. M., Aubry, T. J., Andrews, T., Schmidt, A. (2020). Large variations in volcanic aerosol forcing efficiency due to eruption source parameters and rapid adjustments. Geophysical Research Letters, 47, doi: <a href="https://doi.org/10.1029/2020GL090241">10.1029/2020GL090241</a>.
            </p>
            <p class="content_reference">
              Smith, C. J., Forster, P. M., Allen, M., Leach, N., Millar, R. J., Passerello, G. A., Regayre, L. A. (2018). FAIR v1.3: A simple emissions-based impulse response and carbon cycle model, Geosci. Model Dev. 11, 2273–2297, doi: <a href="https://doi.org/10.5194/gmd-11-2273-2018">10.5194/gmd-11-2273-2018</a>, <a href="https://github.com/OMS-NetZero/FAIR">https://github.com/OMS-NetZero/FAIR</a>.
            </p>
            <p class="content_reference">
              Schmidt, A.,  Black, B.A. (2022), Reckoning with the Rocky Relationship Between Eruption Size and Climate Response: Toward a Volcano-Climate Index. Annual Review of Earth and Planetary Sciences, 50, pp.627-661. doi: <a href="https://doi.org/10.1146/annurev-earth-080921-052816">10.1146/annurev-earth-080921-052816</a>, <a href="https://volcano-climate.github.io/vci/">https://volcano-climate.github.io/vci/</a>.
            </p>
            <p class="content_reference">
              Schmidt, A., Mills, M. J., Ghan, S., Gregory, J. M., Allan, R. P., Andrews, T., et al. (2018). Volcanic radiative forcing from 1979 to 2015. Journal of Geophysical Research: Atmospheres, 123, 12,491-12,508. <a href="https://doi.org/10.1029/2018JD028776">10.1029/2018JD028776</a>.
            </p>
